<li class="collection-item avatar">
    <!-- User Avatar -->
    <img data-ng-src={{user.avatar}} class="circle">
    <!-- User Name -->
    <b>{{user.userName}}</b>
    <!-- Comment Content -->
    {{comment.content}}
    <br />
    <br />
    <!-- Comment Actions: Like and Comment -->
    <i class="material-icons right">
    <span  ng-class="{'icon-blue':isLiked}"  ng-click="addLikes(comment)">thumb_up&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span  ng-click="toggleCommentArea(comment)">comment</span>
    </i>
    <!-- Display how many likes -->
    <span class="right">{{comment.likes}} <span style="color:grey;">Likes&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
    <br />
    <br />
    <!-- Display Second Level Comments -->
    <div class="row" ng-show="isCommentAreaShown(comment)">
        <ul class="collection" ng-repeat="secondLevelComment in secondLevelComments">
            <second-level-comments></second-level-comments>
        </ul>
        <!-- Submit New Second Level Comments -->
        <div class="row" ng-form="secondCommentForm">
            <textarea placeholder="Your comments" class="materialize-textarea" ng-model="secondLevelComment.content" required></textarea>
            <span><button class="waves-effect waves-teal btn-flat right" ng-click="addComment(comment)" ng-disabled="secondCommentForm.$invalid">Submit</button></span>
        </div>
    </div>
</li>
