<div ng-form="forumForm">
<form name="postForm" ng-controller="PostFormController as postFormCtrl" ng-submit="addPost()">
    <!-- Title -->
    <div class="row">
        <div class="input-field col s6">
            <input id="title" type="text" length="20" ng-model="post.title" required>
            <label for="title">Title</label>
        </div>
    </div>

    <!-- Content -->
    <div class="row">
        <div class="input-field col s12">
            <textarea id="post_content" class="materialize-textarea" length="140" ng-model="post.content" required></textarea>
            <label for="post_content">Content</label>
        </div>
    </div>

    <!-- Image -->
    <span class="btn" ng-click='click()'>Image</span>
    <div class="card-image waves-block" ng-hide="post.image==null">
        <img  ng-src="{{post.image}}"/>
        </div>

    <div class="row">
        <div class="input-field col s12">
            <button class="btn waves-effect waves-light pull-right" type="submit" name="action" ng-disabled="forumForm.$invalid">Submit
                <i class="material-icons right">send</i>
            </button>
        </div>
    </div>
</div>
