* {
	-webkit-tap-highlight-color: rgba(0,0,0,0) !important;
}

.gh-menu-right-arrow {
	float: right;
}

.gh-icon {
	width: 20%; 
	text-align: center;
}

.gh-card-no-space {
	margin: 0 !important;
	padding: 0 0 0 0 !important;
}

.gh-card-content {
	padding: 0 0 0 1% !important;
}

.gh-card {
	background-color: #B19CD9; /* #B19CD9; */
	color: white;
}

.gh-header {
	background-color: #B19CD9; /* #3AB09E; */
	position: fixed;
	top: 0;
	width: 100%;
}

.gh-footer {
	position: fixed; 
	bottom: 0px; 
	width: 100%
}

.gh-menu-card {
	padding: 0 1% 0 1% !important;
	background-color: #967BB6;
}

.gh-content {
	padding:2%;
}

.gh-menu-section {
	padding: 0 0 0 1% !important;
	background-color: green;
	opacity: 0.75;

	max-height: 40px !important;
	line-height: 40px;
}

.gh-menu-right-search {
	float: right;
	padding-right: 3%;

	line-height: 40px !important;
}

.gh-section-title {
	font-size: 14pt;
	font-weight: normal;
}

.gh-stop-scroll {
	height: 100%;
	overflow: hidden;
}

.gh-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
	z-index: 999;
}

/*
Design of individual tiles
*/
.gh-bf {
	background-image: url('../images/breastfeed.jpg'); padding: 26% !important; background-size: cover; background-repeat: no-repeat;
}

.gh-ff {
	background-image: url('../images/formulafeed.jpg'); padding: 26% !important; background-size: cover; background-repeat: no-repeat;
}

.gh-mf {
	background-image: url('../images/mixedfeed.jpg'); padding: 26% !important; background-size: cover; background-repeat: no-repeat;
}

.gh-solids {
	background-image: url('../images/solids.jpg'); padding: 26% !important; background-size: cover; background-repeat: no-repeat;
}

.gh-sfp {
	background-image: url('../images/patterns.jpg'); padding: 26% !important; background-size: cover; background-repeat: no-repeat;
}

.gh-recipes {
	background-image: url('../images/recipes.jpg'); padding: 26% !important; background-size: cover; background-repeat: no-repeat;
}

.gh-mums {
	background-image: url('../images/mums.jpg'); padding: 26% !important; background-size: cover; background-repeat: no-repeat;
}

.gh-help {
	background-image: url('../images/connect.jpg'); padding: 26% !important; background-size: cover; background-repeat: no-repeat;
}

/*********************
	Forum
**********************/
@font-face {
    font-family: littlebird;
	src: url('../font/LittleBird.ttf');	
}

.title-font {
	font-family: littlebird;
	font-weight: bold;
	font-size: 280% !important;
}



/*********************
  Media Query Classes
**********************/

/* iPhone */
@media only screen and (max-width: 600px) {
	/* Setting for phone */

	.gh-navbar-height {
		height: 200px;
	  	/* height: calc(100% - 56px); */
	}

	.gh-modal {
		display: none;
		position: fixed;
		left: 0;
		top: 56px;
		background-color: white;
		padding: 0;
		max-height: 100%;
		min-height: 100%;
		width: 100%;
		overflow: auto;
		border-radius: 0;
		box-shadow: none;
		z-index: 999;

		-webkit-overflow-scrolling: touch;
		will-change: top, opacity;
	}

	.gh-modal-header {
		background-color: green;
		position: fixed;
		top: 0;
		width: 100%;

		min-height: 56px;
		max-height: 56px;
		line-height: 56px;
		
		vertical-align: middle;
		text-align: left;
		font-size: 30pt;
	}

	.gh-close::after {
		content: 'chevron_left';
		color: white;
		line-height: 56px;

		text-align: left;
		font-size: 30pt;
	}
}

@media only screen and (max-width: 992px) {
	/* Medium screen and below */
}

@media only screen and (min-width: 601px) {
	/* Medium screen and up */
}

/* Android tablets */
@media only screen and (min-width: 600px) and (max-width: 992px) {
	/* Medium screen only */
	.gh-navbar-height {
		height: 210px;
	}

	.gh-modal {
		display: none;
		position: fixed;
		float: right;
		right: 10px;
		top: 80px !important;
		background-color: white;
		padding: 0;
		max-height: 80%;
		min-height: 80%;
		width: 65%;
		overflow-y: auto;
		margin-right: 0;
		border-radius: 2px;
		box-shadow: none;
		z-index: 1999;

		-webkit-overflow-scrolling: touch;
		will-change: top, opacity;
	}

	.gh-modal-header {
		text-align: right;
		vertical-align: middle;
		font-size: 30pt;

		position: fixed;
		float: right;
		top: 76px;
		right: 10px;
		width: 65%;

		z-index: 2999;
	}

	.gh-close::after {
		content: 'info';
		color: black;
		line-height: 56px;

		text-align: right;
		font-size: 30pt;
	}
}

/* iPad */
@media only screen and (min-width: 993px) and (max-width: 1439px) {
	/* Large screen and up */
	.gh-navbar-height {
		height: 205px;
	}

	.gh-modal {
		display: none;
		position: fixed;
		float: right;
		right: 10px;
		top: 76px !important;
		background-color: white;
		padding: 0;
		max-height: 89%;
		min-height: 89%;
		width: 65%;
		overflow-y: auto;
		margin-right: 0;
		border-radius: 2px;
		box-shadow: none;
		z-index: 1999;

		-webkit-overflow-scrolling: touch;
		will-change: top, opacity;
	}

	.gh-modal-header {
		text-align: right;
		vertical-align: middle;
		font-size: 30pt;

		position: fixed;
		float: right;
		top: 76px;
		right: 10px;
		width: 65%;

		z-index: 2999;
	}

	.gh-close::after {
		content: 'info';
		color: black;
		line-height: 56px;

		text-align: right;
		font-size: 30pt;
	}
}

/* Macbook Pro */
@media only screen and (min-width: 1440px) {
	/* Large screen and up */
	.gh-navbar-height {
		height: 220px;
	}

	.gh-modal {
		display: none;
		position: fixed;
		float: right;
		right: 10px;
		top: 76px !important;
		background-color: white;
		padding: 0;
		max-height: 89%;
		min-height: 89%;
		width: 65%;
		overflow-y: auto;
		margin-right: 0;
		border-radius: 2px;
		box-shadow: none;
		z-index: 999;
		will-change: top, opacity;
	}

	.gh-modal-header {
		text-align: right;
		vertical-align: middle;
		font-size: 30pt;

		position: fixed;
		float: right;
		top: 76px;
		right: 10px;
		width: 65%;

		z-index: 2999;
	}

	.gh-close::after {
		content: 'info';
		color: black;
		line-height: 56px;

		text-align: right;
		font-size: 30pt;
	}
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
	/** Medium screen only */
}

@media only screen and (max-width: 600px) {
	/* Small screen only */
}

@media only screen and (min-width: 601px) {
	/* Medium and above */
}

@media only screen and (max-width: 992px) {
	/* Medium and below */
}

@media only screen and (max-width: 600px) {
	/* Small only */
}

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

span.icon-blue {
    color: blue;
}
